{% extends "auctions/layout.html" %}

{% block body %}

<h3>Your Watchlist</h3>
<ul>
{% for listing in watchlist %}
<div class="listing-block">

    <div class="image-block">        
        <img src="{{ listing.listing.image }}" width="100px"/>
    </div>
    <div class= text-block>
               <h4><a href="/listing/{{ listing.listing.id }}">{{ listing.listing }}</h4></a>
               <br>
               <p>Current Price: ${{listing.listing.initial_bid}}</p>
               <p>Description: {{ listing.listing.description }}</p>
               <hr>
    </div>
</div>
{% empty %}
    <p>No listings have been added to watchlist yet.</p>
{% endfor %}
</ul>

{% endblock %}